<!DOCTYPE html>
<html lang="en" data-ng-app="collector-dash-game">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A timer based game wherein you must collect all items in the field for 60 seconds.">
    <meta name="author" content="Ruen Zapanta">

    <title>Collector Dash</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="lib/bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
    <link href="app/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->    
    <link href="app/css/style.css" rel="stylesheet">
  </head>

  <body data-ng-controller="GameCtrl">
    <div id="main_wrapper">
    	<div id="game">
    		<div>
    			Score: {{score}}<br/>
    			Time: {{time}}<br/>
    			<button data-ng-click="stop()">Stop</button>
    			<div data-ng-show="time==0">GAME OVER</div>
    		</div>
	    	<div id="field">
	    		<div data-ng-repeat="tile in tiles" class="tiles tile{{tile.goods}}" 
	    			data-ng-click="receive(tile)" data-ng-class="{checked:tile.received}">
<!-- 	    			{{tile.goods}} -->
	    		</div>
	    	</div>
	    	<div>Icons from Icojam (<a href="http://www.icojam.com/blog/?p=589#more-589" target="_blank">link</a>)</div>
    	</div>
    </div>

    <script type="text/javascript" src="app/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="app/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/lib/bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>

    <!-- App Libs -->
    <script src="app/js/app.js"></script>
    <script src="app/js/controller/game.controller.js"></script>
  </body>
</html>
