#game {
	text-align: center;
}
#field {
	background: lightgreen;
	width: 375px;
}
#field .tiles.tile1 {
	background: url(../img/1.png) no-repeat 50%;
}
#field .tiles.tile2 {
	background: url(../img/2.png) no-repeat 50%;
}
#field .tiles.tile3 {
	background: url(../img/3.png) no-repeat 50%;
}
#field .tiles {
	background: lightgreen;
	display: inline-block;
	height: 75px;
	width: 75px;
}
