.page-header h1 {
	font-family: 'Wellfleet', sans-serif;	
}
#game {
	text-align: center;
}
#field {
	background: lightgreen;
	margin: 0 auto;
	padding: 2px;
	width: 400px;
}
.tiles.tile1 {
	background: url(../img/1.png) no-repeat 50%;
}
.tiles.tile2 {
	background: url(../img/2.png) no-repeat 50%;
}
.tiles.tile3 {
	background: url(../img/3.png) no-repeat 50%;
}
.tiles {
	background: lightgreen;
	border-radius: 50%;
	display: inline-block;
	height: 75px;
	margin: 0 2px;
	width: 75px;
}
.tiles.tile1,
.tiles.tile2,
.tiles.tile3 {
	cursor: pointer;
}
.tiles.tile1:hover,
.tiles.tile2:hover,
.tiles.tile3:hover {
	background-color: orange;
}
.tiles.checked {
	background: url(../img/check.png) no-repeat 50%;
	background-color: green;
}