<!DOCTYPE html>
<html lang="en" data-ng-app="collector-dash-game">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A timer based game wherein you must collect all items in the field for 60 seconds.">
    <meta name="author" content="Ruen Zapanta">

    <title>Collection Dash</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="lib/bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->    
    <link href="css/style.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
  </head>

  <body data-ng-controller="GameCtrl" class="container" data-ng-init="countdown()">
  	<header class="page-header">
  		<h1>COLLECTION DASH</h1>
  	</header>
  	
    <div id="main_wrapper" class="row">
    	<div id="game" class="col-sm-6 col-md-6">
	    	<div id="field">
	    		<div data-ng-repeat="tile in tiles" class="tiles tile{{tile.goods}}" 
	    			data-ng-click="receive(tile)" data-ng-class="{checked:tile.received}">
<!-- 	    			{{tile.goods}} -->
	    		</div>
	    	</div>
    	</div>
    	<div class="col-sm-6 col-md-6">
	    	<div>
	   			<div class="score">Score: <span>{{score}}</span></div>
	   			<div>Time: {{time}}</div>
	   			<div>
	   			<button data-ng-click="stop()" class="btn btn-danger" data-ng-show="time>0">Stop</button>
	   			<button data-ng-click="start()" class="btn btn-primary" data-ng-show="time==0">Start</button>
	   			</div>
	   			<div class="game-over">
	   				<span class="label label-warning" data-ng-show="time==0">GAME OVER!!</span>
   				</div>
	   		</div>
   		</div>
    </div>
   	<div>Icons from Icojam (<a href="http://www.icojam.com/blog/?p=589#more-589" target="_blank">link</a>)</div>

    <script type="text/javascript" src="lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>

    <!-- App Libs -->
    <script src="js/app.js"></script>
    <script src="js/controller/game.controller.js"></script>
  </body>
</html>
