<!DOCTYPE html>
<html lang="en" data-ng-app="collector-dash-game">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A timer based game wherein you must collect all items in the field for 60 seconds.">
    <meta name="author" content="Ruen Zapanta">

    <title>Collection Dash</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="lib/bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->    
    <link href="css/style.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
  </head>

  <body data-ng-controller="GameCtrl" class="container" data-ng-init="start()">
  	<header class="page-header">
  		<h1>COLLECTION DASH</h1>
  	</header>
  	
    <div id="main_wrapper" class="row">
    	<div id="game" class="col-sm-6 col-md-6">
	    	<div id="field">
	    		<div data-ng-repeat="tile in tiles" class="tiles tile{{tile.goods}}" 
	    			data-ng-click="receive(tile)" data-ng-class="{checked:tile.received}">
<!-- 	    			{{tile.goods}} -->
	    		</div>
	    	</div>
    	</div>
    	<div class="col-sm-6 col-md-6" data-ng-cloak>
	    	<div>
	   			<div class="score">Score: <span>{{score}}</span></div>
	   			<div>Time: {{time}}</div>
	   			<div>
	   			<button data-ng-click="stop()" class="btn btn-danger" data-ng-show="time>0">Stop</button>
	   			<button data-ng-click="start()" class="btn btn-primary" data-ng-show="time==0">Start</button>
	   			</div>
	   			<div data-ng-show="time==0" class="game-over">
            <span class="label label-warning">GAME OVER!!</span>
            <br><br>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I got a score of {{score}} at Collection Dash!" data-size="large">Share your score!</a>  
   				</div>
	   		</div>
   		</div>
    </div>
   	<div>Icons from Icojam (<a href="http://www.icojam.com/blog/?p=589#more-589" target="_blank">link</a>)</div>

    <script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>

    <!-- App Libs -->
    <script src="js/app.js"></script>
    <script src="js/controller/game.controller.js"></script>
    <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));
    </script>
  </body>
</html>
